body {
    background-color: #1a1a1a; 
    color: #ffffff; 
}
.form-label {
    color: #ffffff; 
}

.form-control {
    background-color: #333333; 
    color: #ffffff; 
}
.h1 {
    color: #ffffff; 
}
.custom-heading {
    font-family: 'Raleway', sans-serif; 
    font-size: 60px; 
    font-weight: 700; 
    color: #ffffff; 
    letter-spacing: 2px; 
}
.form-label {
    font-family: 'Montserrat', sans-serif; 
    font-size: 16px;
    font-weight: 300; 
    color: #ffffff; 
}
.black-input {
    background-color: #222;
    color: white;
    border: 1px solid white;
}
.black-input option {
    background-color: #222;
    color: white;
}
.table{
    color: white;
}
